CompileFlags:
  Add: [
    "-std=c++17",
    "-fms-extensions",
    "-fdeclspec",
    "--driver-mode=g++",
    "-I/mnt/c/SierraChart",
    "-I/mnt/c/SierraChart/ACS_Source",
    # Using local Linux headers for standard library diagnostics
    # while keeping custom includes for Sierra Chart
    "-I/usr/include"
  ]
